
<h1>New Stock</h1>

<%= form_with model: @stock do |form| %>
    <% if @stock.errors.any? %>
    <h2>Errors!</h2>
    <ul>
      <% @stock.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    </ul>
    <% end %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back',stocks_path, class: "btn btn-basic" %>

